html, body
{
	margin: 0;
	padding: 0;	
	min-height: 100vh;
}
@font-face
{
	font-family: custom;
	src : url("YANONE/YanoneKaffeesatz-Light.otf");
}

#wrapper
{
	min-height: 100vh;
	background-color: #BF9968;
	padding: 1%;
}

#search
{
	height: 25%;
	width: 60%;
	margin: 0 auto;
	background-color: #dad7c7;
	text-align: center;
	border-radius: 15px 15px 0 0;
	padding: 2%;
	border-bottom: 1px solid #dad7c7;
	
}

#results
{
	min-height: 75%;
	width: 64%;
	margin: 1% auto;
	font-family: custom;
}

label
{
	text-transform: uppercase;
	font: bold 2em custom;
	color: #1AB188;
}
input
{
	width: 60%;
	border-radius: 8px;
	height: 20px;
	border: 1px solid #A0B3B0;
	padding: 6px;
	background: transparent;
	
}

input:focus
{
	background: #24323D;
	color: #FFF;
}

.result_list
{
	list-style: none;
	margin: 0;
	padding: 0;
	
}
.result_list li
{
	margin: 10px 0px;
	padding: 2%;
	background: #EEE;
	border-bottom: 1px dotted #ccc;
	height: 100px;
	overflow: hidden;
	border-radius: 4px;
	
	-webkit-animation: animate 1s;
	-moz-animation: animate 1s;
	-o-animation: animate 1s;
	animation: animate 1s;
}

li:hover
{
	background: #24323D;
	height: 100%;
	color: #FFF;
}

.result_list h2
{
	color: #BF5841;
	margin: 0;
	margin-bottom: 1%;
}
.result_list img
{
	float: left;
	margin-right: 1%;
	width: 50px;
	height: 50px;
	border-radius: 8px;
}

p
{
	font: 1.4em custom;
	margin: 0;
	margin-bottom: 10px;
}
.result_list p
{
	font: 1em custom;
	margin: 0;
	margin-bottom: 10px;
	line-height: 1.5em;
}

@-webkit-keyframes animate
{
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}
@keyframes animate
{
	0% { opacity: 0.6;}
	100% { opacity: 1.0;}
}
@-moz-keyframes animate
{
	0% { opacity: 0.6;}
	100% { opacity: 1.0;}
}
@-o-keyframes animate
{
	0% { opacity: 0.6;}
	100% { opacity: 1.0;}
}